<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../vue.js"></script>
  <title>Class e Style</title>
</head>
<style>

</style>

<body>
  <div id="app">
    <input v-model.lazy="nome" /> <br>
    <input v-model.trim="email" />
    <input type="text" v-model.number="ano">
    <input type="checkbox" v-model="receberEmail" name="receberEmail">
    <p>Nome: {{nome}}</p>
    <p>Email: {{email}}</p>
    <p>Ano: {{ano}}</p>
    <label for="receberEmail">Receber Email</label>
    <p>{{receberEmail}}</p>

    <div>
      <input type="radio" name="azul" id="azul" v-model="cor" value="Azul" />
      <label for="azul">Azul</label>
      <input type="radio" name="vermelho" id="vermelho" v-model="cor" value="Vermelho" />
      <label for="vermelho">Vermelho</label>
      <input type="radio" name="verde" id="verde" v-model="cor" value="Verde" />
      <label for="verde">Verde</label>
      <p>cor: {{cor}}</p>
    </div>
    <select v-model="fruta">
      <option value="" disabled>selecione uma fruta</option>
      <option value="banana">Banana</option>
      <option value="morango">Morango</option>
      <option value="uva">Uva</option>
    </select>
    {{fruta}}

    

  </div>
  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        nome: "José",
        email: "joseben.hur.86@gmail.com",
        receberEmail: "",
        cor: "",
        fruta: "",
        ano: "",
      },
    });
  </script>
</body>

</html>